$styles: "first-screen";

.#{$styles} {
  min-height: 100vh;
  background: url("../images/home-page-bg.jpg") no-repeat;
  background-size: cover;
  padding: 60px 0 45px;
  @include flex-row(center, center);
  position: relative;
  background-position: 45% 10%;
  &--galery {
    min-height: 547px;
    background: url("../images/galery/bg-shop@3x.jpg") no-repeat;
    background-size: cover;
    background-position: 35% 10%;
    padding: 0 0 101px;
    align-items: flex-end;
    &:after {
      content: '';
      position: absolute;
      @include position;
      background-color: rgba(#000, .4);
      z-index: 0;
    }
  }
  #nav-bar {
    padding: 55px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
    width: 100%;
    @include transition;
    &.fixed {
      padding: 30px 0;
      background-color: rgba($N00, 0.5);
    }
    ul {
      display: none;
      @include media {
        @include flex-row(flex-start, center);
        list-style: none;
        padding: 0;
        margin: 0;
      }
      li {
        display: inline-block;
        margin-right: 40px;
        &:last-child {
          margin-right: 0;
        }
        a {
          @include text($H200, 300, $N0);
          font-family: $sec-font;
          @include transition(font-weight);
          &:hover {
            text-decoration: none;
            color: $N0;
            font-weight: 700;
          }
          &::after {
            display: block;
            content: attr(title);
            font-weight: bold;
            height: 0;
            overflow: hidden;
            visibility: hidden;
          }
        }
      }
    }
  }
  #logo {
    max-width: 202px;
    @include media($screen-desktop) {
      max-width: initial;
    }
  }
  #play {
    @include size(81px, true);
    border: 4px solid $N0;
    @include flex-row(center, center);
    img {
      position: relative;
      left: 4px;
      width: 30px;
      height: 36px;
      @include media {
        width: initial;
        height: initial;
        left: 7px;
      }
    }
    @include media {
      @include size(122px, true);
    }
  }
  #location {
    display: none;
    @include media {
      display: inline-block;
      position: absolute;
      bottom: 45px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      @include text($H80, 400, $N0);
      @include transition(color);
      &:hover {
        color: darken($color: #fff, $amount: 20%);
        text-decoration: none;
      }
      span {
        display: block;
      }
    }
  }
  #burger {
    background-color: transparent;
    border: none;
    outline: none;
    @include media {
      display: none;
    }
  }
  #drop {
    border-radius: 5px;
    background-color: #ffffff;
    opacity: 0.95;
    padding: 17px 35px 26px;
    ul {
      list-style: none;
      @include flex-col;
      padding: 0;
      margin: 0;
      li {
        margin-bottom: 18px;
        &:last-child {
          margin-bottom: 0;
        }
        a {
          @include text($H80, 300, $N00);
          font-family: $sec-font;
          @include transition(font-weight);
          &:hover {
            text-decoration: none;
            color: $N00;
            font-weight: 700;
          }
        }
      }
    }
  }
  .uk-drop {
    width: 250px;
  }
  .active {
    font-weight: 700 !important;
  }
  &__title{
    @include text($H350, 600, $N0);
    font-family: $sec-font;
    z-index: 1;
    @include media {
      font-size: $H450;
    }
  }
}
