/* ---COLORS--- */

// Naturel
$N0: #ffffff;
$N100: #e4e4e4;
$N00: #000;

@function px_to_rem($target, $context: $base-size) {
  @if $target==0 {
    @return 0;
  }

  @return $target / $context + 0rem;
}

$base-size: 16px;

/* ---FONT SIZE--- */
$H480: px_to_rem(48px);
$H450: px_to_rem(45px);
$H360: px_to_rem(36px);
$H350: px_to_rem(35px);
$H330: px_to_rem(33px);
$H300: px_to_rem(30px);
$H280: px_to_rem(28px);
$H260: px_to_rem(26px);
$H240: px_to_rem(24px);
$H220: px_to_rem(22px);
$H210: px_to_rem(21px);
$H200: px_to_rem(20px);
$H90: px_to_rem(19px);
$H80: px_to_rem(18px);
$H70: px_to_rem(17px);
$H60: px_to_rem(16px);
$H50: px_to_rem(15px);
$H40: px_to_rem(14px);
$H30: px_to_rem(13px);
$H20: px_to_rem(12px);
$H10: px_to_rem(11px);
$H0: px_to_rem(10px);
$H9: px_to_rem(9px);

// FONTS

$main-font: "Open Sans", sans-serif;
$sec-font: "Cormorant Garamond", serif;
$third-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

// padding left-right
$px: 3%;
